In [5]:
import os
import sqlite3
import pandas as pd
# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# Connect to the SQLite database
try:
    conn = sqlite3.connect('../BTC_data.db')
    # Execute the query and store the result in a DataFrame
    df = pd.read_sql_query("SELECT * FROM BTC_data LIMIT 5;", conn)
    print(df)
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Close the connection
    if conn:
        conn.close()

In [7]:
## Nice the test to the connection to the db works fine, we can also add new tables back to the db. 

df.head()

,index,open,high,low,close,vwap,upper_b1,lower_b1,upper_b2,lower_b2,upper_b3,lower_b3,basis,upper,lower,parabolicsar,twap,volume,volume_ma,adx,efi,atr,obv,roc,cci,target_close
0,0,19990.5,20000.0,19945.0,19975.0,20051.911081,20105.414350,19998.407813,20158.917619,19944.904544,20212.420888,19891.401275,20065.575,20180.181839,19950.968161,20093.638784,20068.875000,1404.391,1079.07575,33.073108,-12916.006674,68.322402,-5436.203,-0.388969,-128.941675,19933.0
1,1,19975.0,19975.0,19876.0,19933.0,20039.109666,20102.269953,19975.949380,20165.430240,19912.789093,20228.590527,19849.628806,20054.025,20173.099966,19934.950034,20086.773233,20064.422414,3596.456,1220.29990,34.286679,-32649.598863,70.513659,-9032.659,-0.558743,-174.971402,19898.0
2,2,19933.0,19961.5,19878.0,19898.0,20032.127497,20099.983866,19964.271127,20167.840235,19896.414758,20235.696605,19828.558389,20040.225,20164.350128,19916.099872,20074.126839,20059.529167,2031.825,1298.35450,35.413566,-38144.495454,71.441255,-11064.484,-0.889099,-170.945798,19879.0
3,3,19898.0,19908.0,19771.0,19879.0,20012.464334,20097.564922,19927.363747,20182.665509,19842.263160,20267.766096,19757.162573,20028.200,20165.205255,19891.194745,20062.239228,20053.221774,4533.626,1486.23915,37.199831,-45000.838103,76.124022,-15598.110,-1.153598,-210.705421,19891.5
4,4,19879.0,19924.5,19862.0,19891.5,20007.578221,20094.228099,19920.928343,20180.877977,19834.278464,20267.527855,19747.628586,20017.200,20160.852497,19873.547503,20038.940090,20048.097656,1759.389,1512.31630,38.476938,-35430.380874,75.150878,-13838.721,-1.017615,-141.899230,19924.5